extends layout

head

block content
    .container
        .row.d-flex.justify-content-center
            .jumbotron.text-center.bg-white.shadow.rounded.mt-5(style="width:30%; height: 80%")
                h5.mt-3 Sing in
                input.mt-3(type='text', placeholder='Email address', style="width:100%; border: 0; outline: 0; background: transparent; border-bottom: 1px solid green;")
                a.btn.btn-success.btn-lg.btn-block.mt-4(href='#', role='button', style="font-size: 15px") Next
                .form-check.mt-4.float-left
                    input#exampleCheck1.form-check-input.align-center(type='checkbox',style="display: center;")
                    label.align-middle(for='exampleCheck1', style="font-size: 12px; margin-top: 0") stay signed in
                a.float-right.mt-4.text-success(style="font-size: 12px")
                    | trouble sign in?
                br
                a.btn.btn-outline-success.btn-lg.btn-block.mt-5(href='/account/create', role='button', style="font-size: 15px") Create account

