extends layout

head
    
block content
    .container
        .row.d-flex.justify-content-center
            .jumbotron.text-center.bg-white.shadow.rounded.mt-5(style="width:400px")
                h5.mt-3 Reset Password
                form(action='/account/resetpassword', method='POST', id='resetpassword-success')
                    .form-group.row.mt-4
                        .col-sm
                            h6 #{email}
                    .form-group.row
                        .col-sm
                            input#inputemail.form-control(type='hidden', name='email', value='#{email}')
                    .form-group.row
                        .col-sm
                            input#originpassword.form-control(type='password', name='password', placeholder='Password')
                            #passwordlength.d-none.invalid-feedback At least 8 characters
                            #passwordnumber.d-none.invalid-feedback At least one number
                            #passwordlower.d-none.invalid-feedback At least one letter
                            #passwordupper.d-none.invalid-feedback At least one capital letter
                    .form-group.row
                        .col-sm
                            input#validatepassword.form-control(type='password', name='confirm_password', placeholder='Confirm Password')
                            #feedbackvalidate
                a.btn.btn-success.btn-lg.btn-block.mt-5.text-white(role='button', style="font-size: 15px", onclick="document.getElementById('resetpassword-success').submit();") Confirm
            
    style.
        .form-group input{
            width:100%; 
            border: 0; 
            outline: 0; 
            background: transparent; 
            border-bottom: 1px solid green; 
            font-size: 15px; 
            box-shadow: none!important; 
            border-radius: 0;
        }
        .form-group input:focus{
            border-bottom: 2px solid green;
        }
        .form-group select{
            width:100%; 
            border: 0; 
            outline: 0; 
            border-bottom: 1px solid green; 
            font-size: 11px; 
            box-shadow: none!important; 
            border-radius: 0;
        }
        .icon-flag {
            display: inline-block !important;
        }
    

    script.
        $(document).ready(function(){
            // password strengthen
            $('#originpassword').keyup(function() {
                var val = $('#originpassword').val();
                // is-validate length
                if(val.length >= 8) {
                    $('#passwordlength').removeClass('invalid-feedback').addClass('valid-feedback');
                    //- $('#coutinuebutton').prop('disabled', false);
                } else {
                    $('#passwordlength').removeClass('valid-feedback').addClass('invalid-feedback');     
                    $('#coutinuebutton').prop('disabled', true);
                }

                // is-validate numbers
                var numbers = /[0-9]/g;
                if(val.match(numbers)) {  
                    $('#passwordnumber').removeClass('invalid-feedback').addClass('valid-feedback');
                    //- $('#coutinuebutton').prop('disabled', false);
                } else {
                    $('#passwordnumber').removeClass('valid-feedback').addClass('invalid-feedback');
                    $('#coutinuebutton').prop('disabled', true);
                }

                // is-validate lowercase letters
                var lowerCaseLetters = /[a-z]/g;
                if(val.match(lowerCaseLetters)) {  
                    $('#passwordlower').removeClass('invalid-feedback').addClass('valid-feedback');
                    //- $('#coutinuebutton').prop('disabled', false);
                } else {
                    $('#passwordlower').removeClass('valid-feedback').addClass('invalid-feedback');
                    $('#coutinuebutton').prop('disabled', true);
                }
                
                // is-validate capital letters
                var upperCaseLetters = /[A-Z]/g;
                if(val.match(upperCaseLetters)) {  
                    $('#passwordupper').removeClass('invalid-feedback').addClass('valid-feedback');
                    //- $('#coutinuebutton').prop('disabled', false);
                } else {
                    $('#passwordupper').removeClass('valid-feedback').addClass('invalid-feedback');
                    $('#coutinuebutton').prop('disabled', true);
                }

                if(val.length >= 8 && val.match(numbers) && val.match(lowerCaseLetters) && val.match(upperCaseLetters)){
                    $('#originpassword').removeClass("is-invalid").addClass("is-valid");
                    //- $('#coutinuebutton').prop('disabled', false);
                } else {
                    $('#originpassword').removeClass("is-valid").addClass("is-invalid");
                    $('#coutinuebutton').prop('disabled', true);
                }
            }).focus(function() {
                $('#passwordlength').removeClass('d-none').addClass('d-block');
                $('#passwordnumber').removeClass('d-none').addClass('d-block');
                $('#passwordlower').removeClass('d-none').addClass('d-block');
                $('#passwordupper').removeClass('d-none').addClass('d-block');
            }).blur(function() {
                $('#passwordlength').removeClass('d-block').addClass('d-none');
                $('#passwordnumber').removeClass('d-block').addClass('d-none');
                $('#passwordlower').removeClass('d-block').addClass('d-none');
                $('#passwordupper').removeClass('d-block').addClass('d-none');
            })


            //confirm password
            $('#validatepassword').keyup(function(){
                var password = $("#originpassword").val();
                var val = $('#validatepassword').val();
                if(password != '' && val != ''){
                    if( password == val){
                        $("#validatepassword").removeClass("is-invalid").addClass("is-valid");
                        $("#feedbackvalidate").removeClass("invalid-feedback").addClass("valid-feedback");
                        $("#feedbackvalidate").html("");
                        $('#coutinuebutton').prop('disabled', false);
                    } else {
                        $("#validatepassword").removeClass("is-valid").addClass("is-invalid");
                        $("#feedbackvalidate").removeClass("valid-feedback").addClass("invalid-feedback");
                        $("#feedbackvalidate").html("passowrd doesn't match!!");
                        $('#coutinuebutton').prop('disabled', true);
                    }
                } else {
                    $("#validatepassword").removeClass("is-valid").addClass("is-invalid");
                    $("#feedbackvalidate").removeClass("valid-feedback").addClass("invalid-feedback");
                    $("#feedbackvalidate").html("passowrd should not be empty");
                    $('#coutinuebutton').prop('disabled', true);
                }
            }).focus(function() {
                $('#feedbackvalidate').removeClass('d-none').addClass('d-block');
            }).blur(function() {
                //- $('#feedbackvalidate').removeClass('d-block').addClass('d-none');
            })
        })