extends layout

head

block content
    .container
        .row.d-flex.justify-content-center
            .jumbotron.text-center.bg-white.shadow.rounded.mt-5(style="width:400px")
                h5.mt-3 Verify your email address
                form(action='/account/create/verifyEmail', method='POST', id='verify-email')
                    .form-group.row.mt-4
                        .col-sm
                            input#emailvalidate.mt-3.form-control(type='text', placeholder='Email address', value='#{email}' name='email_address', onblur="checkEmail(this.value)")
                            #feedbackemail
                p.mt-4.small To confirm this is your email address, please tap the button below to receive a verification code.
                a.btn.btn-success.btn-lg.btn-block.mt-5(role='button', style="font-size: 15px", onclick="document.getElementById('verify-email').submit();") Send me a verification code

    style.
        .form-group input{
            width:100%; 
            border: 0; 
            outline: 0; 
            background: transparent; 
            border-bottom: 1px solid green; 
            font-size: 15px; 
            box-shadow: none!important; 
            border-radius: 0;
        }
        .form-group input:focus{
            border-bottom: 2px solid green;
        }
    
    script.
        function checkEmail(val) {
            var email = $('#emailvalidate').val();
            if(email != null){
                if(isEmail(email)){
                    $("#emailvalidate").removeClass("is-invalid").addClass("is-valid");
                    $("#feedbackemail").removeClass("invalid-feedback").addClass("valid-feedback");
                    $("#feedbackemail").html("");
                } else {
                    $("#emailvalidate").removeClass("is-valid").addClass("is-invalid");
                    $("#feedbackemail").removeClass("valid-feedback").addClass("invalid-feedback");
                    $("#feedbackemail").html("invalid email format");
                }
            }
        }

        function isEmail(email) {
            var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            return regex.test(email);
        }