extends layout

head
    
block content
    .container
        .row.d-flex.justify-content-center
            .jumbotron.text-center.bg-white.shadow.rounded.mt-5(style="width:400px")
                h5.mt-3 Sing up
                form(action='/users/register', method='POST', id='register-record')
                    .form-group.row.mt-4
                        .col-sm
                            input#validatename.form-control(type='text', name='username', placeholder='Username', onblur="checkName(this.value)")
                            #feedbackname
                    .form-group.row
                        .col-sm
                            input#emailvalidate.form-control(type='text', name='email', placeholder='Email Address', onblur="checkEmail(this.value)")
                            #feedbackemail
                    .form-group.row
                        .col-sm
                            input#originpassword.form-control(type='password', name='password', placeholder='Password')
                            #passwordlength.d-none.invalid-feedback At least 8 characters
                            #passwordnumber.d-none.invalid-feedback At least one number
                            #passwordlower.d-none.invalid-feedback At least one letter
                            #passwordupper.d-none.invalid-feedback At least one capital letter
                    .form-group.row
                        .col-sm
                            input#validatepassword.form-control(type='password', name='', placeholder='Confirm Password', onblur="checkPassword(this.value)")
                            #feedbackvalidate
                a.btn.btn-success.btn-lg.btn-block.mt-5(href='/account/create/details', role='button', style="font-size: 15px") Continue
            
    style.
        .form-group input{
            width:100%; 
            border: 0; 
            outline: 0; 
            background: transparent; 
            border-bottom: 1px solid green; 
            font-size: 15px; 
            box-shadow: none!important; 
            border-radius: 0;
        }
        .form-group input:focus{
            border-bottom: 2px solid green;
        }
        .form-group select{
            width:100%; 
            border: 0; 
            outline: 0; 
            border-bottom: 1px solid green; 
            font-size: 11px; 
            box-shadow: none!important; 
            border-radius: 0;
        }
        .icon-flag {
            display: inline-block !important;
        }

    script.
        function checkName(val) {
            if(!(val.match(/^\S+$/))) {
                console.log("username is required");
            } else {
                $.post('/users/checkname', { username: val}, function(data){
                    if(data=='ok'){
                        $("#validatename").removeClass("is-invalid").addClass("is-valid");
                        $("#feedbackname").removeClass("invalid-feedback").addClass("valid-feedback");
                        $("#feedbackname").html("username is valid");
                    } else if( data=='no'){
                        $("#validatename").removeClass("is-valid").addClass("is-invalid");
                        $("#feedbackname").removeClass("valid-feedback").addClass("invalid-feedback");
                        $("#feedbackname").html("username already exist");
                    }
                })
            }
        }

        function checkPassword(val) {
            var password = $("#originpassword").val();
            if( password == val){
                $("#validatepassword").removeClass("is-invalid").addClass("is-valid");
                $("#feedbackvalidate").removeClass("invalid-feedback").addClass("valid-feedback");
                $("#feedbackvalidate").html("passowrd is valid");
            } else {
                $("#validatepassword").removeClass("is-valid").addClass("is-invalid");
                $("#feedbackvalidate").removeClass("valid-feedback").addClass("invalid-feedback");
                $("#feedbackvalidate").html("passowrd doesn't match!!");
            }
        }

        function checkEmail(val) {
            var email = $('#emailvalidate').val();
            if(email != null){
                if(isEmail(email)){
                    $("#emailvalidate").removeClass("is-invalid").addClass("is-valid");
                    $("#feedbackemail").removeClass("invalid-feedback").addClass("valid-feedback");
                    $("#feedbackemail").html("email is valid");
                } else {
                    $("#emailvalidate").removeClass("is-valid").addClass("is-invalid");
                    $("#feedbackemail").removeClass("ivalid-feedback").addClass("invalid-feedback");
                    $("#feedbackemail").html("invalid email format");
                }
            }
        }

        function isEmail(email) {
            var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            return regex.test(email);
        }

        $(document).ready(function() {
            //login and logout button
            if('#{loggedIn}'){
                //- console.log('loggedin');
                $('#loginbuttom').removeClass('d-block').addClass('d-none');
                $('#logoutbuttom').removeClass('d-none').addClass('d-block');
            } else {
                //- console.log('not login');
                $('#loginbuttom').removeClass('d-none').addClass('d-block');
                $('#logoutbuttom').removeClass('d-block').addClass('d-none');
            }
    
            // password strengthen
            $('#originpassword').keyup(function() {
                var val = $('#originpassword').val();
                // is-validate length
                if(val.length >= 8) {
                    $('#passwordlength').removeClass('invalid-feedback').addClass('valid-feedback');
                } else {
                    $('#passwordlength').removeClass('valid-feedback').addClass('invalid-feedback');     
                }

                // is-validate numbers
                var numbers = /[0-9]/g;
                if(val.match(numbers)) {  
                    $('#passwordnumber').removeClass('invalid-feedback').addClass('valid-feedback');
                } else {
                    $('#passwordnumber').removeClass('valid-feedback').addClass('invalid-feedback');
                }

                // is-validate lowercase letters
                var lowerCaseLetters = /[a-z]/g;
                if(val.match(lowerCaseLetters)) {  
                    $('#passwordlower').removeClass('invalid-feedback').addClass('valid-feedback');
                } else {
                    $('#passwordlower').removeClass('valid-feedback').addClass('invalid-feedback');
                }
                
                // is-validate capital letters
                var upperCaseLetters = /[A-Z]/g;
                if(val.match(upperCaseLetters)) {  
                    $('#passwordupper').removeClass('invalid-feedback').addClass('valid-feedback');
                } else {
                    $('#passwordupper').removeClass('valid-feedback').addClass('invalid-feedback');
                }

                if(val.length >= 8 && val.match(numbers) && val.match(lowerCaseLetters) && val.match(upperCaseLetters)){
                    $('#originpassword').removeClass("is-invalid").addClass("is-valid");
                } else {
                    $('#originpassword').removeClass("is-valid").addClass("is-invalid");
                }
            }).focus(function() {
                $('#passwordlength').removeClass('d-none').addClass('d-block');
                $('#passwordnumber').removeClass('d-none').addClass('d-block');
                $('#passwordlower').removeClass('d-none').addClass('d-block');
                $('#passwordupper').removeClass('d-none').addClass('d-block');
            }).blur(function() {
                $('#passwordlength').removeClass('d-block').addClass('d-none');
                $('#passwordnumber').removeClass('d-block').addClass('d-none');
                $('#passwordlower').removeClass('d-block').addClass('d-none');
                $('#passwordupper').removeClass('d-block').addClass('d-none');
            })
        })
        




//-  https://github.com/mrmarkfrench/country-select-js
//- country code https://github.com/RudeySH/SteamCountries/tree/master/json
//- mongoimport.exe -h jerytest.documents.azure.com:10255 -u jerytest -p IZ8nYAVROPoQL8kSalbtMwsAhBK8oKft7IdNMm6NFXHrPwinNVmxrGsmURfSD8N5yxFemsMRtIxX5DWG6epJ1A== --ssl --sslAllowInvalidCertificates --db React --collection state_cities <  c:\Users\59131\Desktop\windows-pwa-express-client\public\resources\states-cities.json