extends layout

head
    
block content
    .container
        .row.d-flex.justify-content-center
            .jumbotron.text-center.bg-white.shadow.rounded.mt-5(style="width:400px")
                h5.mt-3 Login In
                form(action='/account/login', method='POST', id='user-login')
                    .form-group.row.mt-4
                        .col-sm
                            input#validatename.form-control(type='text', name='email', placeholder='Email', value="#{email}")
                    .form-group.row
                        .col-sm
                            input#emailvalidate.form-control(type='text', name='password', placeholder='Password')
                a.btn.btn-success.btn-lg.btn-block.mt-5.text-white(role='button', style="font-size: 15px", onclick="document.getElementById('user-login').submit();") Continue
            
    style.
        .form-group input{
            width:100%; 
            border: 0; 
            outline: 0; 
            background: transparent; 
            border-bottom: 1px solid green; 
            font-size: 15px; 
            box-shadow: none!important; 
            border-radius: 0;
        }
        .form-group input:focus{
            border-bottom: 2px solid green;
        }
        .form-group select{
            width:100%; 
            border: 0; 
            outline: 0; 
            border-bottom: 1px solid green; 
            font-size: 11px; 
            box-shadow: none!important; 
            border-radius: 0;
        }
        .icon-flag {
            display: inline-block !important;
        }