extends layout

head
    
block content
    .container
        .row.d-flex.justify-content-center
            .jumbotron.text-center.bg-white.shadow.rounded.mt-5(style="width:400px")
                h5.mt-3 More information
                form.mt-4(action='/account/register', method='POST', id='create-details')
                    .form-group.row
                        .col.pr-0
                            input.form-control(type='text', name='first_name', placeholder='First_name', style="font-size: 12px")
                        .col
                            input.form-control(type='text', name='middle_initial', placeholder='Middle_name', style="font-size: 12px")
                        .col.pl-0
                            input.form-control(type='text', name='last_name', placeholder='Last_name', style="font-size: 12px")
                    .form-group.row
                        .col-5.pr-0
                            input#country_selector.form-control(type='text', name='country_name', readonly='true', style="font-size: 12px; background: 000000")
                            input#country_code(type="hidden")
                        .col-4
                            select#state_selector.custom-select.mr-sm-4(name='state_name', style="font-size: 12px")
                                option(value='State', style='display: block;font-size: 12px') State
                        .col-3.pl-0
                            select#city_selector.custom-select.mr-sm-4(name='city_name', style="font-size: 12px")
                                option(value='City', style='display: block;font-size: 12px') City
                                option(value='Others', style='display: block;font-size: 12px') Others
                    .form-group.row
                        .col
                            input.form-control(type='text', name='street_address', placeholder='Address1')
                    .form-group.row
                        .col
                            input.form-control(type='text', name='company_address', placeholder='Address2')
                a.btn.btn-success.btn-lg.btn-block.mt-5.text-white(role='button', style="font-size: 15px", onclick="document.getElementById('create-details').submit();") Continue
            
    style.
        .form-group input{
            width:100%; 
            border: 0; 
            outline: 0; 
            background: transparent; 
            border-bottom: 1px solid green; 
            font-size: 15px; 
            box-shadow: none!important; 
            border-radius: 0;
        }
        .form-group input:focus{
            border-bottom: 2px solid green;
        }
        .form-group select{
            width:100%; 
            border: 0; 
            outline: 0; 
            border-bottom: 1px solid green; 
            font-size: 11px; 
            box-shadow: none!important; 
            border-radius: 0;
        }
        .icon-flag {
            display: inline-block !important;
        }

    script.
        $(document).ready(function() {
            
            $("#country_selector").countrySelect({  
                defaultCountry: "us",
                preferredCountries: ['us', 'ca', 'cn']
            });

            $.post('/account/create/get_state', { country_name: "US"}, function(states){
                if(states){
                    $('#state_selector').empty();
                    $.each(states, function(key, value) {
                        var $option = $("<option/>", {
                            value: value,
                            text: value
                        });
                        $('#state_selector').append($option);
                    });
                }
            })

            $.post('/account/create/get_city', { country_name: "US", state_name: "Alabama"}, function(data){
                if(data){
                    $('#city_selector').empty();
                    $.each(data, function(key, value) {
                        var $option = $("<option/>", {
                            value: value,
                            text: value
                        });
                        $('#city_selector').append($option);
                    });
                }
            })

            // get states by country selecter
            var countryData = '';
            $("#country_selector").change(function(){
                var selectedData = $("#country_selector").countrySelect("getSelectedCountryData");
                countryData = selectedData.iso2.toUpperCase();
                //- console.log(countryData);
                if( countryData ){
                    $.post('/account/create/get_state', { country_name: countryData}, function(states){
                        if(states[0]){
                            //- console.log(states[0]);
                            $('#state_selector').empty();
                            $.each(states, function(key, value) {
                                var $option = $("<option/>", {
                                    value: value,
                                    text: value
                                });
                                $('#state_selector').append($option);
                                
                                // append city data due to the first state
                                $.post('/account/create/get_city', { country_name: countryData, state_name: states[0]}, function(cities){
                                    if(cities[0]){
                                        //- console.log("cities" + cities);
                                        $('#city_selector').empty();
                                        $.each(cities, function(key, value) {
                                            var $option = $("<option/>", {
                                                value: value,
                                                text: value
                                            });
                                            $('#city_selector').append($option);
                                        });
                                    } else {
                                        $('#city_selector').empty();
                                        var $option = $("<option/>", {
                                            value: $('#state_selector').val(),
                                            text: $('#state_selector').val()
                                        });
                                        $('#city_selector').append($option);
                                    }
                                });
                            });
                        } else {
                            $('#state_selector').empty();
                            $.each(states, function(key, value) {
                                var $option = $("<option/>", {
                                    value: $('#country_selector').val(),
                                    text: $('#country_selector').val()
                                });
                                $('#state_selector').append($option);
                            });
                        }
                    })
                }
            });

            $('#state_selector').change(function(){
                console.log($('#state_selector').val());
                // get cities by state
                $('#city_selector').empty();
                $.post('/account/create/get_city', { country_name: countryData, state_name: $('#state_selector').val()}, function(cities){
                    if(cities[0]){
                        //- console.log("cities" + cities);
                        $('#city_selector').empty();
                        $.each(cities, function(key, value) {
                            var $option = $("<option/>", {
                                value: value,
                                text: value
                            });
                            $('#city_selector').append($option);
                        });
                    } else {
                        var $option = $("<option/>", {
                            value: $('#state_selector').val(),
                            text: $('#state_selector').val()
                        });
                        $('#city_selector').append($option);
                    }
                })
            });

            $('#city_selector').change(function(){
                console.log($('#country_selector').val());
                console.log($('#city_selector').val());
            });
            
        })
        




//-  https://github.com/mrmarkfrench/country-select-js
//- country code https://github.com/RudeySH/SteamCountries/tree/master/json
//- mongoimport.exe -h jerytest.documents.azure.com:10255 -u jerytest -p password --ssl --sslAllowInvalidCertificates --db React --collection state_cities <  c:\Users\59131\Desktop\windows-pwa-express-client\public\resources\states-cities.json