extends layout

head
    
block content
    .container
        .row.d-flex.justify-content-center
            .jumbotron.text-center.bg-white.shadow.rounded.mt-5(style="width:400px")
                h5.mt-3 Sign In
                form(action='/account/login/success', method='POST', id='user-login-success')
                    .form-group.row.mt-4
                        .col-sm
                            input#loginemail.form-control(type='text', name='email', placeholder='Email', value="#{email}")
                    .form-group.row
                        .col-sm
                            input#loginpassword.form-control(type='password', name='password', placeholder='Password')
                button#singin.btn.btn-success.btn-lg.btn-block(type='button', data-toggle='modal', data-target='#basicExampleModal' style="font-size: 15px") Sign In
                #basicExampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
                    .modal-dialog.modal-dialog-centered(role='document')
                        .modal-content
                            .modal-header
                                h5#exampleModalLabel.modal-title 
                                button.close(type='button', data-dismiss='modal', aria-label='Close')
                                    span(aria-hidden='true') ×
                            .modal-body 
                                h5#exampleModalbody 
                            .modal-footer
                                //- button.btn.btn-secondary(type='button', data-dismiss='modal') Close

                .custom-control.custom-checkbox
                    input#defaultUnchecked.custom-control-input(type='checkbox')
                    label.custom-control-label(for='defaultUnchecked') forget your password?
                form(action='/account/forgetpassword', method='POST', id='reset-password')
                    #forgetform.form-row.align-items-center.d-none
                        .col-auto
                        .md-form.input-group.mb-3
                            input#inlineFormInputGroupMD.form-control(type='text', name='email_address', placeholder='Email', value="#{email}")
                            .col-auto
                            button.btn.btn-primary.mb-0(onclick="document.getElementById('reset-password').submit();") Reset
            
    style.
        .form-group input{
            width:100%; 
            border: 0; 
            outline: 0; 
            background: transparent; 
            border-bottom: 1px solid green; 
            font-size: 15px; 
            box-shadow: none!important; 
            border-radius: 0;
        }
        .form-group input:focus{
            border-bottom: 2px solid green;
        }
        .form-group select{
            width:100%; 
            border: 0; 
            outline: 0; 
            border-bottom: 1px solid green; 
            font-size: 11px; 
            box-shadow: none!important; 
            border-radius: 0;
        }
        .icon-flag {
            display: inline-block !important;
        }
    
    script.
        $(document).ready(function(){
            $('#defaultUnchecked').click(function(){
                if($('#forgetform').hasClass('d-none')){
                    $('#forgetform').removeClass('d-none').addClass('d-block');
                } else if($('#forgetform').hasClass('d-block')){
                    $('#forgetform').removeClass('d-block').addClass('d-none');
                }
            })

        $('#singin').click(function(){
            $.post('/account/login/check', { email: $('#loginemail').val(), password: $('#loginpassword').val()}, function(data){
                if(data=='no'){
                    console.log('no');
                    $('#exampleModalLabel').html('Wrong Password');
                    $('#exampleModalbody').html('Please try again with a correct password');
                } else if (data=='ok'){
                    console.log('ok');
                    $('#exampleModalLabel').html('Sign In Success');
                    $('#exampleModalbody').html('Redirecting...');
                    $('#user-login-success').submit();
                }
            })
        })
        
        })