doctype html
html
head
  title= title
  link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet', href='/country-picker/build/css/countrySelect.css')
    
  script(src='/bootstrap/js/jquery-3.4.1.min.js')
  script(src='/bootstrap/js/bootstrap.min.js')
  script(src='/country-picker/build/js/countrySelect.js')

  //- script(src='/pwabuilder-sw-register.js')
  //- link(rel='manifest', href='/manifest.json')
  
body
  .container-fluid.pr-0.pl-0
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.shadow
      a.navbar-brand.pl-5 Express Sample App
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarText', aria-controls='navbarText', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarText.collapse.navbar-collapse.pr-5
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/') Home
        span.m-3
          a#myprofile.d-none(href='/account/profile') MyProfile 
        span
          a#loginbuttom.btn.btn-outline-success(href='/account') Sign In
          form(action="/account/logout", method="GET")
            button#logoutbuttom.btn.btn-outline-secondary.d-none(type="submit") Sign Out
    .container-fluid
      block content

    script.
      $(document).ready(function() {
        //login and logout button
        if('#{loggedIn}'){
          //- console.log('loggedin');
          $('#loginbuttom').removeClass('d-block').addClass('d-none');
          $('#logoutbuttom').removeClass('d-none').addClass('d-block');
          $('#myprofile').removeClass('d-none').addClass('d-block');
        } else {
          //- console.log('not login');
          $('#loginbuttom').removeClass('d-none').addClass('d-block');
          $('#logoutbuttom').removeClass('d-block').addClass('d-none');
          $('#myprofile').removeClass('d-block').addClass('d-none');
        }
      });

 