doctype html
html
head
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(http-equiv='x-ua-compatible', content='ie=edge')

  link(href='https://use.fontawesome.com/releases/v5.8.2/css/all.css', rel='stylesheet')
  link(href='/mdbootstrap/css/bootstrap.min.css', rel='stylesheet')
  link(rel='stylesheet', href='/country-picker/build/css/countrySelect.css')

  link(href='/mdbootstrap/css/mdb.min.css', rel='stylesheet')
  link(href='/mdbootstrap/css/style.css', rel='stylesheet')

  script(src='/mdbootstrap/js/jquery-3.4.1.min.js')
  script(src='/mdbootstrap/js/bootstrap.min.js')
  script(src='/country-picker/build/js/countrySelect.js')

  //- script(src='/pwabuilder-sw-register.js')
  //- link(rel='manifest', href='/manifest.json')
  
body
    nav.navbar.navbar-expand-lg.navbar-light.lighten-5
      a.navbar-brand
        img(src='https://mdbootstrap.com/img/logo/mdb-transparent.png', height='30', alt='mdb logo')
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#basicExampleNav', aria-controls='basicExampleNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #basicExampleNav.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/')
              | Home
          li.nav-item
            a.nav-link(href='/map.html') Features
        ul.navbar-nav.ml-auto
          li.nav-item
            a#myprofile.d-none.nav-link.text-success(href='/account/profile') MyProfile 
          a#loginbuttom.btn.btn-outline-success.btn-sm.my-0(href='/account') Sign In
        form(action="/account/logout", method="GET", id="sign-out")
          button#logoutbuttom.btn.btn-outline-secondary.d-none(role='button', onclick="document.getElementById('sign-out').submit();") Sign Out

    .container-fluid.h-100
      block content

    script.
      $(document).ready(function() {
        //login and logout button
        if('#{loggedIn}'){
          //- console.log('loggedin');
          $('#loginbuttom').removeClass('d-block').addClass('d-none');
          $('#logoutbuttom').removeClass('d-none').addClass('d-block');
          $('#myprofile').removeClass('d-none').addClass('d-block');
        } else {
          //- console.log('not login');
          $('#loginbuttom').removeClass('d-none').addClass('d-block');
          $('#logoutbuttom').removeClass('d-block').addClass('d-none');
          $('#myprofile').removeClass('d-block').addClass('d-none');
        }
      });

 